apiVersion: v1
kind: Secret
metadata:
  name: cloud-cost-secret
  namespace: cloud-cost
  labels:
    app.kubernetes.io/name: cloud-cost-detective
type: Opaque
stringData:
  DATABASE_URL: "postgresql://<DB_USER>:<DB_PASSWORD>@cloud-cost-postgres:5432/<DB_NAME>"
  AWS_ACCESS_KEY_ID: "<YOUR_AWS_ACCESS_KEY_ID>"
  AWS_SECRET_ACCESS_KEY: "<YOUR_AWS_SECRET_ACCESS_KEY>"
  VITE_INSFORGE_ANON_KEY: "<YOUR_INSFORGE_ANON_KEY>"
